/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

/*Clear all formattings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Golos', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 100%;
    background-image: url(../images/background-image.jpeg);
}

/*Header*/
#game-title {
    background-color: #00000040;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 130px;
    margin-bottom: 50px;
    text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
}

/* displays the choices and who won and why*/
#message-board {
    border: 3px solid rgb(210, 55, 55);
    border-radius: 10px;
    width: fit-content;
    height: 250px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
    background-color: rgba(5, 8, 130, 0.438);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#error-message-box {
    border: 3px solid rgb(55, 210, 207);
    border-radius: 10px;
    width: fit-content;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    background-color: rgba(5, 8, 130, 0.438);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* displays the user score and computer score*/
.score-board {
    border: 2px solid rgb(55, 210, 207);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    background-color: rgba(5, 8, 130, 0.438);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.score-board h2 {
    margin-bottom: 5px
}

.playbtn {
    border-radius: 10px;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
    padding: 20px;
    transition-property: color;
    transition: .1s;
    font-weight: bold;
    display: flex;
}

.reset-quit-btn {
    display: flex;
    margin: auto;
    width: 80%;
}

#play-button,
#rules {
    background-color: aqua;
    border-radius: 15px;
    font-size: 1.5rem;
    color: black;
    width: fit-content;
    margin: auto;
    margin-right: 20px !important;
    padding: 20px;
    transition-property: color;
    transition: .1s;
    font-weight: bold;
    display: flex;
}

#quit-game,
#reset,
#rules2 {
    background-color: aqua;
    border-radius: 15px;
    font-size: 1.5rem;
    color: black;
    width: fit-content;
    margin: auto;
    padding: 20px;
    transition-property: color;
    transition: .1s;
    font-weight: bold;
    display: flex;
}

#play-button:hover,
#quit-game:hover,
#reset:hover,
#rules:hover,
#rules2:hover {
    color: whitesmoke;
}

#error-home {
    font-size: 1.5rem;
    color: black;
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px;
    transition-property: color;
    transition: .1s;
    font-weight: bold;
    text-decoration: none;

}

.optionsbtn button {
    border-radius: 50%;
}


.optionsbtn, img {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50%;
}

#score-heading,
#score-number {
    display: grid;
    margin: 5px;
}

/* Footer*/
.social-media {
    font-size: 2.5rem;
    list-style: none;
    padding-top: 20px;
    margin: auto;
    width: fit-content;
}

.social-media ul li {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
}

/* Modal*/
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    min-height: 150px;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 25%;
    background-color: rgb(20, 37, 53);
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .image {
    border-radius: 15px;
}

.modal .h2 {
    text-align: center;
}

.modal .flex {
    display: block;
    align-items: center;
}

.btn-close {
    margin: auto;
    background: #a70a0a00;
    display: flex;
    color: whitesmoke;
    border: none;
}

.btn-close:hover {
    color: red;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

/* Media queries for small screen (max screen size 900) */

@media screen and (max-width: 900px) {

    #game-title {
        font-size: 2rem;
        width: 100%;

    }

    #message-board {
        text-align: center;
        border: 3px solid rgb(107, 210, 55);
        width: 80%;
    }

    #Rock,
    #Paper,
    #Scissors {
        width: 120px;
    }

    .modal .image {
        width: 390px;
        height: 370px;
    }
}

/* Media queries for small screen (max screen size 420px) */

@media screen and (max-width: 420px) {
    #game-title {
        font-size: 1.5rem;
        width: 80%;
        margin-top: 20px;
        padding-left: 50px;
    }

    #message-board {
        text-align: center;
        border: 3px solid rgb(121, 7, 113);
        width: 80%;
        height: 150px;
        margin-top: 20px;
        font-size: 0.6rem;
    }

    #Rock,
    #Paper,
    #Scissors {
        width: 75px;
    }

    #play-button,
    #quit-game,
    #reset,
    #rules,
    #rules2 {
        border-radius: 10px;
        font-size: 1rem;
    }

    .score-board {
        font-size: 0.7rem;
    }

    .optionsbtn,
    img {
        padding: 3px;
    }

    .modal .image {
        width: 220px;
        height: 200px;
    }
}