/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

/*Clear all formattings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Golos', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 100%;
    background-image: url(../images/background-image.jpeg);
    overflow: hidden;
}

/*Header*/
#game-title {   
    text-align: center;
    width: 100%;
    font-weight: bold;   
    font-size: 2.5rem;
    margin-top: 130px;
    margin-bottom: 50px;
    text-shadow: -6px -6px 0 #000, 6px -6px 0 #000, -6px 6px 0 #000, 6px 6px 0 #000;
}

#message-board {
    border: 3px solid rgb(55, 210, 207);
    border-radius: 10px;
    width: fit-content;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    background-color: rgba(5, 8, 130, 0.438);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.score-board {
    border: 2px solid rgb(55, 210, 207);
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    font-size: 1rem;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    background-color: rgba(5, 8, 130, 0.438);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.score-board h2 {
    margin-bottom: 5px
}

#user-label,
#computer-label {
    font-size: 5.3rem;
}

.playbtn {
    border-radius: 10px;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
    padding: 20px;
    transition-property: color;
    transition: .1s;
    font-weight: bold;
}

.playbtn:hover {
    color: whitesmoke;
}

.reset-rules-btn{
    display: flex;
    margin: auto;
    width: 80%;

}

#play-button,
#quit-game,
#reset {
    background-color: aqua;
    border-radius: 10px;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
    padding: 20px;
    transition-property: color;
    transition: .1s;
    font-weight: bold;
}

.optionsbtn,
img {
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
    border-radius: 50%;


}

#reset:hover {
    color: whitesmoke;
}

button {
    border-radius: 50%;
}

#score-heading,
#score-number {
    display: grid;
    margin: 5px;
}

#quit-game {
    display: flex;
    margin: auto;
}

.social-media {
    
    font-size: 2.5rem;
    list-style: none;
    padding-top: 20px;
    margin: auto;
    width: fit-content;
  

}

.social-media ul li {

    list-style-type: none;
    display: inline-flex;
    justify-content: center;

}

/* Media queries for small screen (max screen size 800px and 450) */

@media screen and (max-width: 800px) {
    
    #game-title {
        font-size: 1.5rem;
        width: 100%;
        
    }

    #message-board {
        font-size: 1.5rem;
        width: 80%;
        text-align: center;
    }

    #Rock,
    #Paper,
    #Scissors {
        width: 120px;
    }
}

@media screen and (max-width: 450px) {
    #game-title {
        font-size: 1.5rem;
        width: 100%;
    }

    #message-board {
        font-size:1rem;
        width: 80%;
        text-align: center;
    }
    
    #Rock,
    #Paper,
    #Scissors {
        width: 75px;
    }
}